<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<hi>Listado de cursos</h1>
	<script sre="https://cdn.jsdelivr.net/npm/jquery63.7.1/dist/jquery.sLim.min.js"></script>
	<script sre="https://cdn.jsdelivr.net/npm/popper.js61.16.1/dist/umd/popper.min.js"></script>
	<script sre="https://cdn.jsdelivr.net/npm/bootstrapé4.6.2/dist/js/bootstrap.bundle.min.js"></script>
	
</body>
</html>>